<%= form_for @user do |f| %>
  <%= render "shared/error_messages" %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :email %>
  <%= f.email_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation, t("confirm") %>
  <%= f.password_field :password_confirmation %>

  <%= f.submit t("update_profile"), class: "btn btn-primary" %>

<% end %>

<div class="gravatar_edit">
  <%= gravatar_for @user %>
  <%= link_to t("change_avatar"), Settings.user.edit_avatar %>
</div>