<% @activities.subject_activities(subject).each do |activity| %>
  <div>
    <%= subject.name %>
    <%= activity.state %>
    <%= activity.created_at %>
    <%= t "User.status" %>
    <% subject.user_subjects.each do |user_subject| %>
      <%= user_subject.status %>
    <% end %>
    <%= render partial: "tasks/task", collection: subject.tasks, as: :task %>
  </div>
<% end %>
