<h2><%= t("User.subject") %></h2>
<div class="list_sub">
  <ul class="list-group">
    <li class="list-group-item"><%= subject.name %>
      <span class="label label-primary pull-right">
        <%= t("User.status") %>
        <%= subject.status %>
      </span>
      <%= render partial: "tasks/show", collection: subject.tasks, as: :task %>
    </li>
  </ul>
</div>
