<%= form_for @course do |f| %>
  <%= render "shared/error_messages", object: f.object %>

  <%= f.label :name %>
  <%= f.text_field :name, class: "form-control" %>

  <%= f.label :description %>
  <%= f.text_field :description, class: "form-control" %>
  <div class="row">
    <div class="col-md-2">
      <%= f.label :start %>
    </div>
    <div class="col-md-10">
      <%= f.date_select :start, {prompt: {day: t("Day"), month: t("Month"),year: t("Year")},
        order: [:day, :month, :year], with_css_classes: true}, {class: "col-md-4 form-control form-control-inline"} %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <%= f.label :finish %>
    </div>
    <div class="col-md-10">
      <%= f.date_select :start, {prompt: {day: t("Day"), month: t("Month"), year: t("Year")},
        order: [:day, :month, :year], with_css_classes: true}, {class: "col-md-4 form-control form-control-inline"} %>
    </div>
  </div>

  <%= f.submit t("new_course"), class: "btn btn-success" %>
<% end %>
